services:
  buho-lightrag:
    container_name: buho-lightrag
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 9621:9621
    volumes:
      - ./data/rag_storage:/app/data/rag_storage
      - ./data/inputs:/app/data/inputs
      - ./config.ini:/app/config.ini
      - ./.env:/app/.env
    env_file:
      - .env
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"

    networks:
      - intrabuhonet

networks:
  intrabuhonet:
    external: true